.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 320px;
    box-shadow: 8px 8px hsl(0, 0%, 7%);
    border: 1px solid  hsl(0, 0%, 7%);
}

#main-image {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}

.learn {
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 16px;
}

.date {
    font-size: 16px;
    color: hsl(0, 0%, 7%);

}

.languages {
    color: hsl(0, 0%, 42%);
}

.instructor img {
    width: 35px;
    height: 35px;
}